.innerbox {
  background-color: rgb(255, 252, 252);
  height: 50%;
  width: 50%;
  text-align: center;
  margin: auto;
  border: 5px solid red;
}

body{
  background-color: aqua;
}

.header{
    font-size: 30px;
    text-decoration: underline;
    color: orangered;
}

.form_controller{
  display: flex;
  justify-content: space-evenly;
  margin-top: 90px;
}

#t1
{
    height: 30px;
    width: 25%;
    text-align: center;
    margin: auto;
    border-radius: 4px;
    text-decoration: underline;
}

#t1:hover{
  border:2px solid rgb(97, 135, 169);
}


.form_controller img{
  width: 10%;
  border-radius: 5%;
}

#img1{
  margin-left: 10%;
}

#img2{
  margin-right: 10%;
}


.btn{
  height: 20%;
  width: 30%;
  background-color: rgb(0, 183, 244);
  color: red;
  font-size: 15px;
  font-weight: 700;
  padding: 7px;
  border: 2px solid gray;
  border-radius: 5px;
}


.btn:hover{
  background-color: rgb(97, 135, 169);
}

.id-results{
  
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 200px 200px;

}

.id-results

 .box{
  height: 100%;
  width: 90%;
 
}


.box img{
display: none;
border: 3px solid red;
border-radius: 5px;
object-fit: cover;
transition: 0.5s;
transform-origin: center;
}

.box img.active{
  display: block;
}

.box img:hover{
  transform: scale(1.5);
}


#img3,#img4,#img5,#img6,#img7,#img8{
margin-top: 90px;
height: 40%;
width: 60%;
}
/* 
#name,#description,#sunset,#sunrise,#temp,#weather{
  color: red;
  margin-top: 14%;
  font-size: 20px;
  font-weight: 700;
} */

.box div{
  color: red;
  margin-top: 14%;
  font-size: 20px;
  font-weight: 700;
  }

  #copy{
    margin-top: 10%;
    font-size: 30px;
    color: black;
  }
  

@media only screen and (max-width: 600px) {

  .innerbox{
    height: 80%;
    width: 90%;
  }

  #img3,#img4,#img5,#img6,#img7,#img8{
    margin-top: 90px;
    height: 40%;
    width: 40%;
    }
#img3,#img5,#img7{
  margin-left: 30px;
}

.box div{
color: red;
font-size: 15px;
font-weight: 500;
margin-left: 20px;
}

.header{
  font-size: 7px;
}
}

